@import url('./node_modules/modern-normalize/modern-normalize.css');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--very-light-green: hsl(162.5, 68.57%, 86.27%);
	--very-light-purpple: hsl(334.29, 41.18%, 96.67%);
	--very-light-blue: hsl(214.62, 100%, 94.9%);
	--very-light-pink: hsl(324.55, 61.11%, 92.94%);
	--slate-gray: hsl(0, 0%, 82.35%);
	--light-orange: hsl(32.73, 89.19%, 92.75%);
	--black-clr: hsl(0, 0%, 6%);
	--text-clr: hsl(0, 0%, 20%);
	--blue-clr: hsl(199, 63%, 60%);
	--background-clr: hsl(240, 29%, 97%);
	--very-light-orange: hsl(33, 89%, 93%);
}

html {
	font-family: 'Poppins', var(--system-ui);
	line-height: 1.5;
}

body {
	min-height: 100vh;
	background: var(--background-clr);
	color: var(--text-clr);
	display: grid;
	grid-template-columns: auto 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

ul[role='navigation'] {
	list-style: none;
	padding-inline: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration-line: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
form {
	font-size: 100%;
}

input,
button,
select {
	font: inherit;
	font-size: 80%;
	appearance: none;
	transition: all 0.4s ease;
}

button {
	cursor: pointer;
}

p {
	margin: 0;
}

.sidebar,
.header,
.content {
	padding: 1rem;
}

.sidebar {
	width: 17rem;
	height: 100vh;
	position: sticky;
	top: 0;
	align-self: start;
	border-right: 1px solid var(--slate-gray);
	background: linear-gradient(var(--very-light-blue), var(--very-light-pink));
}

.sidebar > div {
	height: 100%;
	display: grid;
	grid-template-rows: auto repeat(2, 1fr);
}

.sidebar .top {
	display: flex;
	justify-content: end;
	gap: 1rem;
}

.top h3 {
	font-size: 1.6rem;
	font-weight: 700;
}

.top button[type='button'] {
	background: transparent;
	flex-shrink: 0;
	min-width: fit-content;
	padding: 0.25em 0.75em;
	border: 0;
	border-radius: 0.25em;
}

.top button[type='button'] i {
	font-size: 1.5rem;
}

.top button[type='button']:hover {
	background-color: var(--very-light-pink);
}

.sidebar .menu {
	padding-block: 0.5rem;
}

.menu li:first-child {
	font-size: 0.8rem;
	color: var(--blue-clr);
	padding: 0.25em 0;
}

.menu li * {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0.2em 0;
	margin-bottom: 5px;
}

.menu li a * {
	transition: color 0.4s ease;
}

.menu li a span {
	flex: 1;
	font-size: 0.85rem;
}

.menu li a i {
	font-size: 1.25rem;
}

.menu li a:hover {
	color: var(--blue-clr);
}

.menu li:has(.active) {
	color: var(--blue-clr);
}

.header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	align-items: center;
}

.header form {
	position: relative;
}

.header form > input[type='text'] {
	width: 80%;
	font-size: 0.85rem;
	background-color: transparent;
	border: 0;
	outline: 0.1em solid var(--black-clr);
	outline-offset: 2px;
	padding: 0.5em 1em 0.5em 2.5em;
	border-radius: 2em;
}

.header form i {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.header form:has(:focus, :hover) input {
	outline-color: var(--blue-clr);
}

.header .profile {
	padding-inline-end: 0.5em;
	gap: 25px;
}

.profile img {
	height: 2.75rem;
}

.profile a {
	position: relative;
}

.profile a::before {
	content: '';
	width: 0.35em;
	height: 0.35em;
	background-color: hsl(19, 96%, 51%);
	display: block;
	position: absolute;
	right: -2px;
	top: 3px;
	border-radius: 50%;
}

.profile i {
	color: var(--text-clr);
	font-size: 1.52rem;
}

.header i {
	cursor: pointer;
}

.profile p {
	white-space: nowrap;
	font-weight: 500;
}

.user-info p {
	font-size: 0.9rem;
}

.user-info h3 {
	font-size: 1.4rem;
	font-weight: 600;
}

.header > div:nth-child(2),
.header > div:last-child {
	display: flex;
	justify-content: end;
	align-items: center;
}

.header > div:last-child {
	gap: 15px;
}

.header > div button[type='button'] {
	flex: 1;
	min-width: fit-content;
	padding: 0.6em 1.75em;
	border: 0;
	border-radius: 2em;
}

.header > div button[type='button']:first-child {
	color: var(--text-clr);
	background-color: var(--very-light-pink);
}

.header > div button[type='button']:nth-child(2) {
	background-color: var(--very-light-green);
}

.header > div button[type='button']:last-child {
	background-color: var(--very-light-orange);
}

.main .content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 12.5rem repeat(2, 6.5rem) 12.5rem;
	gap: 20px;
}

.content .card {
	background-color: white;
	padding: 1rem;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
}

.card img {
	height: 45px;
}

.content .card:first-child {
	background-color: var(--very-light-blue);
}

.content .card:nth-child(2) {
	background-color: var(--very-light-pink);
}

.content .card:nth-child(6) {
	background-color: var(--very-light-green);
	grid-column: 3;
	grid-row: 1 / span 2;
}

.content .card:nth-child(5) {
	grid-row: 2 / span 2;
	background-color: var(--very-light-green);
}

.content .card:nth-child(3) {
	grid-column: 2;
	grid-row: 2 / span 2;
}

.content .card:nth-child(4) {
	background-color: var(--very-light-blue);
	grid-column: 1 / span 2;
}

.content .card:last-child {
	background-color: var(--very-light-pink);
	grid-column: 3;
	grid-row: 3 / span 2;
}

.card h3 {
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.card p {
	font-size: 0.85rem;
	line-height: 1.6;
}

.card div:last-child {
	margin-top: auto;
	align-self: end;

	display: flex;
	align-items: center;
	gap: 15px;
}

.content .card:nth-child(6) div:last-child,
.content .card:last-child div:last-child {
	all: unset;
}

.card:nth-child(6) > div {
	margin-bottom: 0.75rem;
	padding-block: 0.75em;
}

.card:nth-child(6) h4 {
	font-size: 0.85rem;
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.card:nth-child(6) p {
	font-size: 0.75rem;
}

.main .content .card:last-child > div {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0.75em 0;
}

.main .content .card:last-child > div p {
	font-size: 0.75rem;
	font-weight: 400;
	margin-bottom: 0.125em;
}

.main .content .card:last-child > div p:first-child {
	font-weight: 500;
}

.content .card div:last-child a {
	transition: all 0.4s ease;
}

.content .card div:last-child a:hover {
	color: var(--blue-clr);
}
